AutoRAG>=0.2.11
click
python-dotenv
kiwipiepy
langchain
langchain-community
langchain-experimental
langchain-core
langchain-openai
langsmith
langchainhub
langchain-upstage
openai
chromadb
langchain_chroma
huggingface_hub
unstructured
llama-index[all]
llama-index-llms-upstage
ragas[all]
pdfplumber
pdf2image 
img2pdf 
pillow
# 우분투에 sudo apt-get install poppler-utils
pymupdf
PyPDF2
tiktoken
requests 
beautifulsoup4 
pandas 
openpyxl 
webdriver-manager
selenium
nest_asyncio

# pip install pip-tools
# pip-compile requirements.txt -o requirements.lock
# pip-sync requirements.lock