AutoRAG>=0.2.11
click
python-dotenv
kiwipiepy
langchain
langchain-community
langchain-experimental
langchain-core
langchain-openai
langsmith
langchainhub
langchain-upstage
openai
chromadb
langchain_chroma
huggingface_hub
unstructured
llama-index[all]
llama-index-llms-upstage
ragas[all]
pdfplumber
openpyxl
pdf2image 
img2pdf 
pillow
# 우분투에 sudo apt-get install poppler-utils
